<a href="https://colab.research.google.com/github/sujaysavanth/Bigdata/blob/main/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [1,22,33,45,555,55555]
for i in range(len(list1)):
  print(list1[i])

  # or
for value in list1:
  print(value)

1
22
33
45
555
55555
1
22
33
45
555
55555

Create a dictionary with 7 name-job pairs
Problem 2: Dictionaries (2 Points)
Write a python script that creates a dictionary that holds 7 name-job {key-value} pairs. Then print each key-value pair on a separate line.

For example, the dictionary can hold these values:

{"Sam":"Plumber", "George":"Physical Trainer", "Nancy":"Accountant"}
Then print each key-value pair on a separate line using a for loop.

In [ ]:

jobs = {
    "Sam": "Plumber",
    "George": "Physical Trainer",
    "Nancy": "Accountant",
    "Alice": "Teacher",
    "Bob": "Engineer",
    "Diana": "Doctor",
    "Ethan": "Designer"
}
for name,job in jobs.items():
  print(f"{name}:{job}")

Sam:Plumber
George:Physical Trainer
Nancy:Accountant
Alice:Teacher
Bob:Engineer
Diana:Doctor
Ethan:Designer

Problem 3: File Handling (2 Points)
Write a python script that reads the adult.data file (US Census Dataset, link above) and prints the first 20 records (rows). To do so:

Use the open() function to create a file handle.
Use a for loop to scan the file line by line, and use the print function to print each line.

In [ ]:
adult_file = open('/content/adult.data')
count = 0
for line in adult_file:
  print(f"{count}:{line.strip()}")
  count+=1
  if count==20:
    break


adult_file.close()

0:39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
1:50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
2:38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
3:53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
4:28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
5:37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
6:49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
7:52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
8:31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
9:42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K
10:37, Private, 280464, Some-college, 10, Married-civ-spouse, Exec-managerial, Husband, Black, Male, 0, 0, 80, United-States, >50K
11:30, State-gov, 141297, Bachelors, 13, Married-civ-spouse, Prof-specialty, Husband, Asian-Pac-Islander, Male, 0, 0, 40, India, >50K
12:23, Private, 122272, Bachelors, 13, Never-married, Adm-clerical, Own-child, White, Female, 0, 0, 30, United-States, <=50K
13:32, Private, 205019, Assoc-acdm, 12, Never-married, Sales, Not-in-family, Black, Male, 0, 0, 50, United-States, <=50K
14:40, Private, 121772, Assoc-voc, 11, Married-civ-spouse, Craft-repair, Husband, Asian-Pac-Islander, Male, 0, 0, 40, ?, >50K
15:34, Private, 245487, 7th-8th, 4, Married-civ-spouse, Transport-moving, Husband, Amer-Indian-Eskimo, Male, 0, 0, 45, Mexico, <=50K
16:25, Self-emp-not-inc, 176756, HS-grad, 9, Never-married, Farming-fishing, Own-child, White, Male, 0, 0, 35, United-States, <=50K
17:32, Private, 186824, HS-grad, 9, Never-married, Machine-op-inspct, Unmarried, White, Male, 0, 0, 40, United-States, <=50K
18:38, Private, 28887, 11th, 7, Married-civ-spouse, Sales, Husband, White, Male, 0, 0, 50, United-States, <=50K
19:43, Self-emp-not-inc, 292175, Masters, 14, Divorced, Exec-managerial, Unmarried, White, Female, 0, 0, 45, United-States, >50K

Problem 4: Pandas Data Frames (3 Points)
Write a python script that reads adult.data into a data frame. Then print the number of rows in the data frame.

Notice that this file does not have column headers. You will need to specify the header=None option inside the read_csv() function.
To find the number of rows, you can use the count() function. However, this will count the number of values within each column! To overcome that, select the first row: df[0] and then call the count()function for this single column as follows: df[0].count()

In [ ]:
import pandas as pd
adult_df= pd.read_csv("/content/adult.data",header=None)

print("number of rows in the data frame: ",adult_df[0].count())

number of rows in the data frame:  32561

Problem 5:  Data Slicing and Computing Stats (8 Points)
Write a script that reads a US Census file into a data frame and

Finds the min, max, avg ages.
Finds the number of persons with Master's making more than 50K vs. the number of persons with Master's making less than 50K.
Finds the percentage of Master's making more than 50K vs. the percentage of Master's making less than 50K.
Finds the percentage of people making more than 50K vs those making less than 50K for each education level.
Repeat the same activity above (only number 4) for each type of occupation, that's column 1.

In [ ]:
print(adult_df.head(20).to_string(index=False))

 0                 1      2             3   4                      5                  6              7                   8       9     10  11  12             13     14
 39         State-gov  77516     Bachelors  13          Never-married       Adm-clerical  Not-in-family               White    Male  2174   0  40  United-States  <=50K
 50  Self-emp-not-inc  83311     Bachelors  13     Married-civ-spouse    Exec-managerial        Husband               White    Male     0   0  13  United-States  <=50K
 38           Private 215646       HS-grad   9               Divorced  Handlers-cleaners  Not-in-family               White    Male     0   0  40  United-States  <=50K
 53           Private 234721          11th   7     Married-civ-spouse  Handlers-cleaners        Husband               Black    Male     0   0  40  United-States  <=50K
 28           Private 338409     Bachelors  13     Married-civ-spouse     Prof-specialty           Wife               Black  Female     0   0  40           Cuba  <=50K
 37           Private 284582       Masters  14     Married-civ-spouse    Exec-managerial           Wife               White  Female     0   0  40  United-States  <=50K
 49           Private 160187           9th   5  Married-spouse-absent      Other-service  Not-in-family               Black  Female     0   0  16        Jamaica  <=50K
 52  Self-emp-not-inc 209642       HS-grad   9     Married-civ-spouse    Exec-managerial        Husband               White    Male     0   0  45  United-States   >50K
 31           Private  45781       Masters  14          Never-married     Prof-specialty  Not-in-family               White  Female 14084   0  50  United-States   >50K
 42           Private 159449     Bachelors  13     Married-civ-spouse    Exec-managerial        Husband               White    Male  5178   0  40  United-States   >50K
 37           Private 280464  Some-college  10     Married-civ-spouse    Exec-managerial        Husband               Black    Male     0   0  80  United-States   >50K
 30         State-gov 141297     Bachelors  13     Married-civ-spouse     Prof-specialty        Husband  Asian-Pac-Islander    Male     0   0  40          India   >50K
 23           Private 122272     Bachelors  13          Never-married       Adm-clerical      Own-child               White  Female     0   0  30  United-States  <=50K
 32           Private 205019    Assoc-acdm  12          Never-married              Sales  Not-in-family               Black    Male     0   0  50  United-States  <=50K
 40           Private 121772     Assoc-voc  11     Married-civ-spouse       Craft-repair        Husband  Asian-Pac-Islander    Male     0   0  40              ?   >50K
 34           Private 245487       7th-8th   4     Married-civ-spouse   Transport-moving        Husband  Amer-Indian-Eskimo    Male     0   0  45         Mexico  <=50K
 25  Self-emp-not-inc 176756       HS-grad   9          Never-married    Farming-fishing      Own-child               White    Male     0   0  35  United-States  <=50K
 32           Private 186824       HS-grad   9          Never-married  Machine-op-inspct      Unmarried               White    Male     0   0  40  United-States  <=50K
 38           Private  28887          11th   7     Married-civ-spouse              Sales        Husband               White    Male     0   0  50  United-States  <=50K
 43  Self-emp-not-inc 292175       Masters  14               Divorced    Exec-managerial      Unmarried               White  Female     0   0  45  United-States   >50K

In [ ]:
# print(adult_df.head(20))

print(f"minimum age : {adult_df[0].min()}")
print(f"maximum age : {adult_df[0].max()}")
print(f"average age : {adult_df[0].mean()}")

Total_masters_count = adult_df[adult_df[3] == " Masters"].count()[0]
masters_over_50k = adult_df[(adult_df[14] == " >50K") & (adult_df[3] == " Masters")].count()[0]
masters_less_50k = adult_df[(adult_df[14] == " <=50K") & (adult_df[3] == " Masters")].count()[0]
print(f"number of persons with Master's making more than 50K vs. the number of persons with Master's: {masters_over_50k} VS {masters_less_50k}")

print(f"Finds the percentage of Master's making more than 50K vs. the percentage of Master's making less than 50K: {(masters_over_50k/Total_masters_count)*100} VS {(masters_less_50k/Total_masters_count)*100}")


# Finds the percentage of people making more than 50K vs those making less than 50K for each education level.
education_list = adult_df[3].unique()

for educaton in education_list:
  total_count = adult_df[adult_df[3]== educaton].count()[0]
  over_50k = adult_df[(adult_df[14] == " >50K") & (adult_df[3] == educaton)].count()[0]
  less_50k = adult_df[(adult_df[14] == " <=50K") & (adult_df[3] == educaton)].count()[0]
  print(f"\n percentage of people making more than 50K vs those making less than 50K for {educaton} level: {round((over_50k/total_count)*100,2)} VS {round((less_50k/total_count)*100,2)}")

# Finds the percentage of people making more than 50K vs those making less than 50K for each occupation level.
occupation_list = adult_df[1].unique()
print("*******************occupation level***************************")
for occupation in occupation_list:
  total_count = adult_df[adult_df[1]== occupation].count()[0]
  over_50k = adult_df[(adult_df[14] == " >50K") & (adult_df[1] == occupation)].count()[0]
  less_50k = adult_df[(adult_df[14] == " <=50K") & (adult_df[1] == occupation)].count()[0]
  print(f"\n percentage of people making more than 50K vs those making less than 50K for {occupation} level: {round((over_50k/total_count)*100,2)} VS {round((less_50k/total_count)*100,2)}")

minimum age : 17
maximum age : 90
average age : 38.58164675532078
number of persons with Master's making more than 50K vs. the number of persons with Master's: 959 VS 764
Finds the percentage of Master's making more than 50K vs. the percentage of Master's making less than 50K: 55.65873476494486 VS 44.34126523505514

 percentage of people making more than 50K vs those making less than 50K for  Bachelors level: 41.48 VS 58.52

 percentage of people making more than 50K vs those making less than 50K for  HS-grad level: 15.95 VS 84.05

 percentage of people making more than 50K vs those making less than 50K for  11th level: 5.11 VS 94.89

 percentage of people making more than 50K vs those making less than 50K for  Masters level: 55.66 VS 44.34

 percentage of people making more than 50K vs those making less than 50K for  9th level: 5.25 VS 94.75

 percentage of people making more than 50K vs those making less than 50K for  Some-college level: 19.02 VS 80.98

 percentage of people making more than 50K vs those making less than 50K for  Assoc-acdm level: 24.84 VS 75.16

 percentage of people making more than 50K vs those making less than 50K for  Assoc-voc level: 26.12 VS 73.88

 percentage of people making more than 50K vs those making less than 50K for  7th-8th level: 6.19 VS 93.81

 percentage of people making more than 50K vs those making less than 50K for  Doctorate level: 74.09 VS 25.91

 percentage of people making more than 50K vs those making less than 50K for  Prof-school level: 73.44 VS 26.56

 percentage of people making more than 50K vs those making less than 50K for  5th-6th level: 4.8 VS 95.2

 percentage of people making more than 50K vs those making less than 50K for  10th level: 6.65 VS 93.35

 percentage of people making more than 50K vs those making less than 50K for  1st-4th level: 3.57 VS 96.43

 percentage of people making more than 50K vs those making less than 50K for  Preschool level: 0.0 VS 100.0

 percentage of people making more than 50K vs those making less than 50K for  12th level: 7.62 VS 92.38
*******************occupation level***************************

 percentage of people making more than 50K vs those making less than 50K for  State-gov level: 27.2 VS 72.8

 percentage of people making more than 50K vs those making less than 50K for  Self-emp-not-inc level: 28.49 VS 71.51

 percentage of people making more than 50K vs those making less than 50K for  Private level: 21.87 VS 78.13

 percentage of people making more than 50K vs those making less than 50K for  Federal-gov level: 38.65 VS 61.35

 percentage of people making more than 50K vs those making less than 50K for  Local-gov level: 29.48 VS 70.52

 percentage of people making more than 50K vs those making less than 50K for  ? level: 10.4 VS 89.6

 percentage of people making more than 50K vs those making less than 50K for  Self-emp-inc level: 55.73 VS 44.27

 percentage of people making more than 50K vs those making less than 50K for  Without-pay level: 0.0 VS 100.0

 percentage of people making more than 50K vs those making less than 50K for  Never-worked level: 0.0 VS 100.0

Problem 6: Simple Dataset File Processing (3 Points)
Write a python script that reads the sample google play store apps data file into a data frame. Notice that this file has the column headers.

Print the data frame using the print function.
Notice that the second column holds the category of the app. An app category can be Business, Education, etc.

Find the total number of apps for each category. This can be done by extracting the 'Category' column and counting the number of occurrences of each category using the value_counts()function.
Which category has the highest number of apps? Write code that prints that category, and the number of apps associated with it. Look into these functions: max(), idxmax().
Write a piece of code that finds for each non numeric column, the distinct values that appear in this column, and the frequency of occurrence of each value. For example, for the category column, the code should print all the categories listed, and the number of times each category appears in this column.

In [ ]:
playstoredf= pd.read_csv("/content/googleplaystore.csv")
print(playstoredf.head(10).to_string(index=False))

                                               App       Category  Rating Reviews Size    Installs Type Price Content Rating                    Genres       Last Updated        Current Ver  Android Ver
    Photo Editor & Candy Camera & Grid & ScrapBook ART_AND_DESIGN     4.1     159  19M     10,000+ Free     0       Everyone              Art & Design    January 7, 2018              1.0.0 4.0.3 and up
                               Coloring book moana ART_AND_DESIGN     3.9     967  14M    500,000+ Free     0       Everyone Art & Design;Pretend Play   January 15, 2018              2.0.0 4.0.3 and up
U Launcher Lite – FREE Live Cool Themes, Hide Apps ART_AND_DESIGN     4.7   87510 8.7M  5,000,000+ Free     0       Everyone              Art & Design     August 1, 2018              1.2.4 4.0.3 and up
                             Sketch - Draw & Paint ART_AND_DESIGN     4.5  215644  25M 50,000,000+ Free     0           Teen              Art & Design       June 8, 2018 Varies with device   4.2 and up
             Pixel Draw - Number Art Coloring Book ART_AND_DESIGN     4.3     967 2.8M    100,000+ Free     0       Everyone   Art & Design;Creativity      June 20, 2018                1.1   4.4 and up
                        Paper flowers instructions ART_AND_DESIGN     4.4     167 5.6M     50,000+ Free     0       Everyone              Art & Design     March 26, 2017                1.0   2.3 and up
           Smoke Effect Photo Maker - Smoke Editor ART_AND_DESIGN     3.8     178  19M     50,000+ Free     0       Everyone              Art & Design     April 26, 2018                1.1 4.0.3 and up
                                  Infinite Painter ART_AND_DESIGN     4.1   36815  29M  1,000,000+ Free     0       Everyone              Art & Design      June 14, 2018           6.1.61.1   4.2 and up
                              Garden Coloring Book ART_AND_DESIGN     4.4   13791  33M  1,000,000+ Free     0       Everyone              Art & Design September 20, 2017              2.9.2   3.0 and up
                     Kids Paint Free - Drawing Fun ART_AND_DESIGN     4.7     121 3.1M     10,000+ Free     0       Everyone   Art & Design;Creativity       July 3, 2018                2.8 4.0.3 and up

In [ ]:

print(playstoredf["Category"].unique())
unique_app_categories = playstoredf["Category"].unique()
for category in unique_app_categories:
  n = (playstoredf['Category']== category).sum()
  print(f"{category}:{n}")


counts = playstoredf['Category'].value_counts()
print(f"{counts.idxmax()}: {counts.max()}")

['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION' '1.9']
ART_AND_DESIGN:65
AUTO_AND_VEHICLES:85
BEAUTY:53
BOOKS_AND_REFERENCE:231
BUSINESS:460
COMICS:60
COMMUNICATION:387
DATING:234
EDUCATION:156
ENTERTAINMENT:149
EVENTS:64
FINANCE:366
FOOD_AND_DRINK:127
HEALTH_AND_FITNESS:341
HOUSE_AND_HOME:88
LIBRARIES_AND_DEMO:85
LIFESTYLE:382
GAME:1144
FAMILY:1972
MEDICAL:463
SOCIAL:295
SHOPPING:260
PHOTOGRAPHY:335
SPORTS:384
TRAVEL_AND_LOCAL:258
TOOLS:843
PERSONALIZATION:392
PRODUCTIVITY:424
PARENTING:60
WEATHER:82
VIDEO_PLAYERS:175
NEWS_AND_MAGAZINES:283
MAPS_AND_NAVIGATION:137
1.9:1
FAMILY: 1972